#{extends 'standardForm.html' /}
#{set title:'Cenovnik' /}

<script>

$(document).ready(function(){
	
	
	
});

function sync(item){
    datumVazenja = item.find(".datumVazenja").html()
    preduzece = item.find(".preduzece").html()
    id = item.find(".id").html()
    $("#datumVazenja").val(datumVazenja);
    $("#preduzece").val(preduzece);
    $("#id").val(id);
}

/* function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/filter?id=&stavkeCenovnika=&datumVazenja=&postanskiBroj=&drzava=' +id);
} */
    

	  $("datumVazenja").click(function() {
		  var dat=document.getElementById("datumVazenja").value;
		  var dat=document.getElementById("preduzece").value;
		  
	  });
</script>

<p>
<ul>
  <li><a href="@{Cenovnici.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="@{Cenovnici.show("copy")}" id = "copy"><img src="@{'/public/images/copy.png'}"/></a></li>

</ul>
</p>


<h1>Cenovnici</h1>

<table>
	<tr class = "header">
	   <th>datum vazenja</th>
	   <th>preduzece</th>
	</tr>
#{list items:cenovnici, as:'cenovnik'}
	<tr>
		<td class = "datumVazenja">${cenovnik.datumVazenja}</td>
		<td class = "preduzece">${cenovnik.preduzece.nazivPreduzeca}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${cenovnik.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{Cenovnici.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{Cenovnici.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{Cenovnici.delete()}
	#{/elseif}
	
	#{elseif mode == 'copy'}
		@{Cenovnici.copy()}
	#{/elseif}
	
	#{else}
		@{Cenovnici.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'datumVazenja'}
					<label for = "${field.id}">Datum vazenja</label>
					<input type = "date" name = "${field.name}" id = "datumVazenja"/>
				#{/}
				
				</p>
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">Preduzece</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:preduzeca, as:'preduzece'}
					<option value = "${preduzece.id}">${preduzece.nazivPreduzeca}</option>
					#{/list}
					</select>
					
					 #{/}
				</p>
				
			
				<p>
				#{field 'procenat'}
					<label id="procenatL" for = "${field.id}">procenat</label>
					<input type = "number" name = "${field.name}" id = "procenat"/>
				#{/}
				
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{Cenovnici.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>
</div>