#{extends 'main.html' /}
#{set title:'Home' /}

<ul id="pocetnaUl">
 	<a class="pocetnaStavke" href = "http://localhost:9000/fakture/show" style="margin-left:1em">Faktura</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/cenovnici/show" style="margin-left:1em">Cenovnik</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/grupeRobe/show" style="margin-left:1em">Grupa Robe</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/izvestaji/show" style="margin-left:1em">Izvestaj</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/mesta/show" style="margin-left:1em">Mesto</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/narudzbenice/show" style="margin-left:1em">Narudzbenica</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/Otpremnice/show" style="margin-left:1em">Optremnica</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/PDVovi/show" style="margin-left:1em">PDV</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/poslovneGodine/show" style="margin-left:1em">Poslovna godina</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/poslovnipartneri/show" style="margin-left:1em">Poslovni partner</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/preduzeca/show" style="margin-left:1em">Preduzece</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/robeIliUsluge/show" style="margin-left:1em">Roba ili Usluga</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeCenovnika/show" style="margin-left:1em">stavke cenovnika</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeNarudzbenice/show" style="margin-left:1em">stavke narudzbenice</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeOtpremnice/show" style="margin-left:1em">stavke otpremnice</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stopePDV/show" style="margin-left:1em">stopa PDV</a>
</ul>