#{extends 'main.html' /}
#{set title:'Home' /}

<ul id="pocetnaUl">
 	<a class="pocetnaStavke" href = "http://localhost:9000/fakture/show" style="margin-left:1em">Fakture</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/cenovnici/show" style="margin-left:1em">Cenovnici</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/grupeRobe/show" style="margin-left:1em">Grupe Robe</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/izvestaji/show" style="margin-left:1em">Izvestaji</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/mesta/show" style="margin-left:1em">Mesta</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/narudzbenice/show" style="margin-left:1em">Narudzbenice</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/Otpremnice/show" style="margin-left:1em">Optremnice</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/PDVovi/show" style="margin-left:1em">PDV</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/poslovneGodine/show" style="margin-left:1em">Poslovne godine</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/poslovnipartneri/show" style="margin-left:1em">Poslovni partneri</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/preduzeca/show" style="margin-left:1em">Preduzeca</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/robeIliUsluge/show" style="margin-left:1em">Roba ili Usluga</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeFakture/show" style="margin-left:1em">Stavke faktura</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeCenovnika/show" style="margin-left:1em">Stavke cenovnika</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeNarudzbenice/show" style="margin-left:1em">Stavke narudzbenica</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stavkeOtpremnice/show" style="margin-left:1em">Stavke otpremnica</a>
 	<a class="pocetnaStavke" href = "http://localhost:9000/stopePDV/show" style="margin-left:1em">Stope PDV</a>
</ul>