#{extends 'standardForm.html' /}
#{set title:'Grupe robe' /}

<script>

$(document).ready(function(){
	$("#preduzecePickup").click(function(){
		id = $(".highlighted").find(".id").html();
		$("select").val(id);
		
	});
});

function sync(item){
    nazivGrupe = item.find(".nazivGrupe").html()
    preduzece = item.find(".preduzece").html()
   	PDV = item.find(".PDV").html()
    id = item.find(".id").html()
    $("#nazivGrupe").val(nazivGrupe);
    $("#preduzece").val(preduzece);
    $("#pDV").val(PDV);

    $("#id").val(id);
}

</script>

<p>
<ul>
  <li><a href="@{GrupeRobe.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{GrupeRobe.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{GrupeRobe.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Grupe robe</h1>

<table>
	<tr class = "header">
	   <th>naziv grupe</th>
	   <th>preduzece</th>
	   <th>pdv</th>
	   
	</tr>
#{list items:grupeRobe, as:'grupaRobe'}
	<tr>
		<td class = "nazivGrupe">${grupaRobe.nazivGrupe}</td>
		<td class = "preduzece">${grupaRobe.preduzece.nazivPreduzeca}</td>
		<td class = "PDV">${grupaRobe.PDV.nazivPDV}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${grupaRobe.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{GrupeRobe.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{GrupeRobe.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{GrupeRobe.delete()}
	#{/elseif}

	#{else}
		@{GrupeRobe.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'nazivGrupe'}
					<label for = "${field.id}">Naziv grupe</label>
					<input type = "text" name = "${field.name}" id = "nazivGrupe"/>
				#{/}
				
				</p>
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">preduzece</label>
					<select name = "preduzece" id = "preduzece"/>
					#{list items:preduzeca, as:'preduzece'}
					<option value = "${preduzece.id}">${preduzece.nazivPreduzeca}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				<p>
				#{field 'pDV'}
					<label for = "${field.id}">PDV</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:PDVovi, as:'pdv'}
					<option value = "${pdv.id}">${pdv.nazivPDV}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{GrupeRobe.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>

