#{extends 'standardForm.html' /}
#{set title:'Mesto' /}

<script>

function sync(item){
	nazivMesta = item.find(".nazivMesta").html()
    id = item.find(".id").html()
    $("#nazivMesta").val(nazivMesta);
    $("#id").val(id);
}

/* function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/filter?id=&stavkeMestoa=&datumVazenja=&postanskiBroj=&drzava=' +id);
} */
    

	
</script>

<p>
<ul>
  <li><a href="@{Mesta.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Mesta.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{Mesta.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Mesta</h1>

<table>
	<tr class = "header">
	   <th>naziv</th>
	   <th>preduzece</th>
	   <th>poslovni partner</th>
	</tr>
#{list items:mesta, as:'mesto'}

	<tr>
		<td class = "naziv">${mesto.nazivMesta}</td>
		<td class = "preduzece1">${mesto.preduzeca.nazivPreduzeca}</td>
		<td class = "poslovniPartner">${mesto.poslovniPartneri.nazivPartnera}</td>	
		<td style = "visibility: hidden; max-width: 0px" class = "id">${mesto.id}</td>
	</tr>

#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{Mesta.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{Mesta.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{Mesta.delete()}
	#{/elseif}
	
	#{else}
		@{Mesta.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'nazivMesta'}
					<label for = "${field.id}">nazivMesta</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'nazivMesta' /}</span>
				#{/}
				
				</p>

				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{Mesta.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
	</p>
</div>
 