#{extends 'standardForm.html' /}
#{set title:'Narudzbenice' /}

<script>

function sync(item){
    brojNarudzbenice = item.find(".brojNarudzbenice").html()
    poslovnaGodina= item.find(".poslovnaGodina").html()
    poslovniPartner= item.find(".poslovniPartner").html()
    id = item.find(".id").html()
    $("#brojNarudzbenice").val(brojNarudzbenice);
    $("#poslovnaGodina").val(poslovnaGodina);
    $("#poslovniPartner").val(poslovniPartner);
    $("#id").val(id);
}


    

</script>

<p>
<ul>
  <li><a href="@{Narudzbenice.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Narudzbenice.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{Narudzbenice.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Fakture</h1>

<table>
	<tr class = "header">
	   <th>broj narudzbenice</th>
	   <th>poslovni partner</th>
	   <th>poslovna godina</th>
	</tr>
#{list items:narudzbenice, as:'narudzbenica'}
	<tr>
		<td class = "brojNarudzbenice">${narudzbenica.brojNarudzbenice}</td>
		<td class = "poslovniPartner">${narudzbenica.poslovniPartner.nazivPartnera}</td>
		<td class = "poslovnaGodina">${narudzbenica.poslovnaGodina.godina}</td>

		<td style = "visibility: hidden; max-width: 0px" class = "id">${narudzbenica.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{Narudzbenice.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{Narudzbenice.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{Narudzbenice.delete()}
	#{/elseif}

	#{else}
		@{Narudzbenice.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'brojNarudzbenice'}
					<label for = "${field.id}">broj narudzbenice</label>
					<input type = "number" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				</p>
			
				<p>
				#{field 'poslovniPartner'}
					<label for = "${field.id}">Poslovni partner</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:poslovniPartneri, as:'poslovniPartner'}
					<option value = "${poslovniPartner.id}">${poslovniPartner.nazivPartnera}</option>
					#{/list}
					</select>
					#{/}
				</p>
				<p>
				#{field 'poslovnaGodina'}
					<label for = "${field.id}">Poslovna godina</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:poslovneGodine, as:'poslovnaGodina'}
					<option value = "${poslovnaGodina.id}">${poslovnaGodina.godina}</option>
					#{/list}
					</select>
					#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{Narudzbenice.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>
</div>