#{extends 'standardForm.html' /}
#{set title:'Stavke cenovnika' /}

<script>


function sync(item){
    cena = item.find(".cena").html()
    cenovnik = item.find(".cenovnik").html()
    robaIliUsluga = item.find(".robaIliUsluga").html()
    id = item.find(".id").html()
    $("#cena").val(cena);
    $("#robaIliUsluga").val(robaIliUsluga);
    $("#cenovnik").val(cenovnik);

    $("#id").val(id);
}


</script>

<p>
<ul>
  <li><a href="@{StavkeCenovnika.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeCenovnika.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{StavkeCenovnika.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Stavke cenovnika</h1>

<table>
	<tr class = "header">
	   <th>cena</th>
	   <th>roba ili usluga</th>
	   <th>cenovnik</th>
	   
	</tr>
#{list items:stavkeCenovnika, as:'stavkaCenovnika'}
	<tr>
		<td class = "cena">${stavkaCenovnika.cena}</td>
		<td class = "robaIliUsluga">${stavkaCenovnika.robaIliUsluga.nazivRIU}</td>
		<td class = "cenovnik">${stavkaCenovnika.cenovnik.datumVazenja}</td>
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkaCenovnika.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{StavkeCenovnika.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{StavkeCenovnika.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{StavkeCenovnika.delete()}
	#{/elseif}

	#{else}
		@{StavkeCenovnika.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'cena'}
					<label for = "${field.id}">cena</label>
					<input type = "number" name = "${field.name}" id = "cena"/>
				#{/}
				
				</p>
				<p>
				#{field 'robaIliUsluga'}
					<label for = "${field.id}">Roba ili usluga</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:robaIliUsluge, as:'robaIliUsluga'}
					<option value = "${robaIliUsluga.id}">${robaIliUsluga.nazivRIU}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
								<p>
				#{field 'cenovnik'}
					<label for = "${field.id}">cenovnik</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:cenovnici, as:'cenovnik'}
					<option value = "${cenovnik.id}">${cenovnik.datumVazenja}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{StavkeCenovnika.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>
</div>
 