#{extends 'standardForm.html' /}
#{set title:'Stavke narudzbenice' /}

<script>


function sync(item){
    kolicina = item.find(".kolicina").html()
	jedinicaMere = item.find(".jedinicaMere").html()
    narudzbenica = item.find(".narudzbenica").html()
    robaIliUsluga = item.find(".robaIliUsluga").html()
    id = item.find(".id").html()
    $("#kolicina").val(kolicina);
    $("#jedinicaMere").val(jedinicaMere);
    $("#narudzbenica").val(narudzbenica);
    $("#robaIliUsluga").val(robaIliUsluga);
    $("#id").val(id);
}


</script>

<p>
<ul>
  <li><a href="@{StavkeNarudzbenice.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id= "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id= "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenice.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{StavkeNarudzbenice.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>


<h1>Stavke narudzbenice</h1>

<table>
	<tr class = "header">
	   <th>kolicina</th>
	   <th>jedinica mere</th>
	   <th>roba ili usluga</th>
	   <th>narudzbenica</th>
	   
	</tr>
#{list items:stavkeNarudzbenice, as:'stavkaNarudzbenice'}
	<tr>
		<td class = "kolicina">${stavkaNarudzbenice.kolicina}</td>
		<td class = "jedinicaMere">${stavkaNarudzbenice.jedinicaMere}</td>
		<td class = "robaIliUsluga">${stavkaNarudzbenice.robaIliUsluga.nazivRIU}</td>
		<td class = "narudzbenica">${stavkaNarudzbenice.narudzbenica.brojNarudzbenice}</td>
		
		<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkaNarudzbenice.id}</td>
	</tr>
#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{StavkeNarudzbenice.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{StavkeNarudzbenice.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{StavkeNarudzbenice.delete()}
	#{/elseif}

	#{else}
		@{StavkeNarudzbenice.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'kolicina'}
					<label for = "${field.id}">kolicina</label>
					<input type = "number" name = "${field.name}" id = "kolicina"/>
				#{/}
				
				</p>
				<p>
				#{field 'jedinicaMere'}
					<label for = "${field.id}">jedinica mere</label>
					<input type = "text" name = "${field.name}" id = "jedinicaMere"/>
				#{/}
				
				</p>

				<p>
				#{field 'robaIliUsluga'}
					<label for = "${field.id}">Roba ili usluga</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:robaIliUsluge, as:'robaIliUsluga'}
					<option value = "${robaIliUsluga.id}">${robaIliUsluga.nazivRIU}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
								<p>
				#{field 'narudzbenica'}
					<label for = "${field.id}">narudzbenica</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:narudzbenice, as:'narudzbenica'}
					<option value = "${narudzbenica.id}">${narudzbenica.brojNarudzbenice}</option>
					#{/list}
					</select>
					
				#{/}
				</p>
				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" id="sad" style="margin-left:6em"/>
					<a href = "@{StavkeNarudzbenice.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
</p>
</div>
 