/Faktura.class
/StavkaFakture.class
/NalogZaPlacanje.class
/Izvod.class
/StavkaIzvoda.class
/RobaIliUsluga.class
/GrupaRobe.class
/StavkaCenovnika.class
/PDV.class
/Cenovnik.class
/PoslovnaGodina.class
/Preduzece.class
/PoslovniPartner.class
/StopaPDV.class
/Adresa.class
/Mesto.class
