#{extends 'standardForm.html' /}
#{set title:'Robe ili Usluge' /}

<script>

function sync(item){
	nazivRIU = item.find(".nazivRIU").html()
    jedinicaMere = item.find(".jedinicaMere").html()
	grupaRobe = item.find(".grupaRobe").html()
    id = item.find(".id").html()
    $("#nazivRIU").val(nazivRIU);
	$("#jedinicaMere ").val(jedinicaMere );
	$("#grupaRobe").val(grupaRobe);
    $("#id").val(id);
}

/* function nextForm(id){
	$(location).attr('href', '/NaseljenaMesta/filter?id=&stavkeMestoa=&nazivRIU=&postanskiBroj=&drzava=' +id);
} */
    

	
</script>

<p>
<ul>
  <li><a href="http://localhost:9000" id= "pickup"><img src="@{'/public/images/pocetna.png'}"/></a></li>
  <li><a href="@{RobeIliUsluge.show("")}" id= "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="@{RobeIliUsluge.show("filter")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a  id= "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id= "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id= "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id= "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{RobeIliUsluge.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="@{RobeIliUsluge.show("remove")}" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
</ul>
</p>


<h1>Robe ili Usluge</h1>

<table>
	<tr class = "header">
	   <th>Naziv</th>
	   <th>jedinica mere</th>
	   <th>grupa robe</th>
	</tr>
#{list items:robeIliUsluge, as:'robaIliUsluga'}

	<tr>
		<td class = "jedinicaMere">${robaIliUsluga.jedinicaMere}</td>
		<td class = "nazivRIU">${robaIliUsluga.nazivRIU}</td>
		<td class = "grupaRobe">${robaIliUsluga.grupaRobe.nazivGrupe}</td>	
		<td style = "visibility: hidden; max-width: 0px" class = "id">${robaIliUsluga.id}</td>
	</tr>

#{/list}
</table>

#{set 'action'}
	#{if mode == 'add'}
		@{RobeIliUsluge.add()}
	#{/if}
	
	#{elseif mode == 'edit'}
		@{RobeIliUsluge.edit()}
	#{/elseif}
	
	#{elseif mode == 'remove'}
		@{RobeIliUsluge.delete()}
	#{/elseif}
	
	#{else}
		@{RobeIliUsluge.filter()}
	#{/else}
#{/set}



<div class = "panel">
	<p>
		<form action=${action} method="post">		
				#{field 'id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				
				<p>
				#{field 'jedinicaMere'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'jedinicaMere' /}</span>
				#{/}
				
				</p>
				<p>
				#{field 'nazivRIU'}
					<label for = "${field.id}">jedinica mere</label>
					<input type = "text" name = "${field.name}" id = "${field.name}"/>
					<span>#{error 'nazivRIU' /}</span>
				#{/}
				
				</p>
				<p>
				#{field 'grupaRobe'}
					<label for = "${field.id}">grupe robe</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:grupeRobe, as:'grupaRobe'}
					<option value = "${grupaRobe.id}">${grupaRobe.nazivGrupe}</option>
					#{/list}
					</select>
					#{/}
				</p>

				
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "@{RobeIliUsluge.show("")}" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>	
	</p>
</div>
 